body {
		    padding: 10px;
			font-size: 15px;
			color: #343d44;
			font-family: "segoe-ui", "open-sans", tahoma, arial;
			margin: 5px;
		}
		table {
		display: block; 
			margin: 20px;
			font-family: "Lucida Sans Unicode", "Lucida Grande", "Segoe Ui";
			font-size: 12px;
			
		
	}

		h1 {
			margin: 25px auto 0;
			text-align: center;
			text-transform: uppercase;
			font-size: 17px;
		}

		table td {
			transition: all .5s;
		padding: 20px;}
		
		/* Table */
		.data-table {
			border-collapse: collapse;
			font-size: 14px;
		     width: 100%;
		}

		.data-table th, 
		.data-table td {
			border: 1px solid #e1edff;
			padding: 20px 20px;
		}
		.data-table caption {
			margin: 7px;
		}

		/* Table Header */
		.data-table thead th {
			background-color: #508abb;
			color: #FFFFFF;
			border-color: #6ea1cc !important;
			text-transform: uppercase;
		}

		/* Table Body */
		.data-table tbody td {
			color: #353535;
		}
		.data-table tbody td:first-child,
		.data-table tbody td:nth-child(4),
		.data-table tbody td:last-child {
			text-align: right;
		}

		.data-table tbody tr:nth-child(odd) td {
			background-color: #f4fbff;
		}
		.data-table tbody tr:hover td {
			background-color: #ffffa2;
			border-color: #ffff0f;
		}

		/* Table Footer */
		.data-table tfoot th {
			background-color: #e5f5ff;
			text-align: right;
		}
		.data-table tfoot th:first-child {
			text-align: left;
		}
		.data-table tbody td:empty
		{
			background-color: #ffcccc;
		}
		input[type=button] 
		{
		background: #9f0000;
		padding: 20px;
		border: 1px hidden #000;
		border-radius: 20px;
		}
         body {
            font-family:Arial, Helvetica, sans-serif;
            font-size:14px;
         }
         
         label {
            font-weight:bold;
            width:100px;
            font-size:14px;
         }
         
         .box {
            border:#666666 solid 1px;
            white-space: #64006b;
            box-shadow: 2px 2px 2px;
            padding: 10px;
            border-radius: 50%;
         
            color: #640064;
         }
         .button
		{
		background: #9f0000;
		padding: 20px;
		border: 1px hidden #000;
		border-radius: 20px;
		}